*.sdf
*.sln
*.suo
bin/
bin64/
arm64/
vs.proj/Debug
vs.proj/Release
vs.proj/x64
vs.proj/ARM64
vs.proj/NppList.*
vs.proj/NppCrossCheck.opensdf
vs.proj/NppCrossCheck.sln
vs.proj/NppCrossCheck.exp
vs.proj/NppCrossCheck.lib
vs.proj/NppCrossCheck.vcxproj.user
vs.proj/.vs/
*.aps
*.zip
*.bak
readme.FIRST